<html xmlns:th="http://www.thymeleaf.org" 
	lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="home-section" th:fragment = "TopNav">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
     
      <div class="profile-details">
        <span sec:authentication="name"></span>
    
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>
