<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layouts/head :: myHead">
      
</head>
<body>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Register here
            </div>
<div class="container">
    <div class="page-header">
        <h1>Register</h1>
    </div>
     <form th:action="@{adduser}" th:object="${users}" method="post">
    	<input type="text" th:field ="*{firstName}"  name="firstName" placeholder="Enter first name" class="form-control col-4 mb-4"/>
    	<p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}" />
    	<input type="text" th:field ="*{lastName}"  name="lastName" placeholder="Enter last name" class="form-control col-4 mb-4"/> 
    	<p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}" />
    	<input type="text" th:field ="*{email}"  name="email" placeholder="Enter email" class="form-control col-4 mb-4"/>
    	<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />
    	<input type="text" th:field ="*{phone}"  name="phone" placeholder="Enter phone number" class="form-control col-4 mb-4"/>
    	<p th:if="${#fields.hasErrors('phone')}" th:errorclass="error" th:errors="*{phone}" />
    	<input type="password" th:field ="*{password}"  name="password" placeholder="Enter password" class="form-control col-4 mb-4"/>   
     	<p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
     	<!--  <select  th:field ="*{roles}"  name="roles"class="form-control col-4 mb-4" >
    		<th:block>
    			<option th:value="2" /> 
    			
    		</th:block> 
    	
    	</select>  -->
     	<button class="btn btn-primary" type="submit">Register</button>
    </form> 
   
</div>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">@Copyright 2022 Y-CINEMA</p></div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>