
:root {


  --oxford-blue:           gold;
  --off-white:             hsl(0, 0%, 88%);
  --yellow:                gold;
  --white:                 gold;


  --ff-inter: "Inter", sans-serif;

  --section-heading: 40px;
  --fs-lg:           22px;
  --fs-md:           17px;
  --fs-sm:           14px;
  --fs-x-sm:         12px;
  
  --fw-7: 700;
  --fw-6: 600;
  --fw-5: 500;

  --px: 120px; 

}